*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form{
    border: solid 1px white;
    margin: 2rem auto;
    border-radius: 5px;
    width: 60%;
}

.eye{
    color:#3c3c3c;
    background-color: white;
    margin: 3px;
}

.form .title{
    background: #3c3c3c;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    margin: auto;
    padding: 1rem;
}

.form-detail div{
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 5px 5px;
    width: 400px;
    gap: 7px;
}

.form-detail .input-field{
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    flex-grow: 1;
}

.form-detail p{
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

.form-control{
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    color: black;
}

.submit-button{
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}

.submit-button button{
    border: none;
    background-color: #f0b90b;
    padding: 10px 50px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.submit-button button:hover{
    background-color: #f4ce52;
}

#uidnote{
    text-decoration: none;
}

.info-icon{
    margin-right: 12px;
    color: #f0b90b;
}

.hide{
    display: none;
}

.valid{
    display: inline-block;
}

.times{
    color: #d33131;
    padding-left: 12px;
}

.check{
    color: #7ac70c;
    padding-left: 12px;
}

.offscreen{
    display: none;
}


@media (max-width: 500px) {
    .form{
        border: none;
        width: 100%;
    }

    .form-detail p{
        font-size: 12px;
    }
}